<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="/lib/css/pedibus.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
        <link href="/lib/css/comment.css" rel="stylesheet" type="text/css">
        <title>Pedibus</title>
    </head>
    <body>
         <div class="container">
            <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <!--Menu mobile-->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!--Fin menu mobile-->
                        <a class="navbar-brand" href="{{path('homepage')}}">Pedibus</a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="nav navbar-nav navbar-right">
                         {% if is_granted('ROLE_USER') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> Bienvenue {{app.user.username}}<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                {% if app.user.hasAdvert == 1  %}
                                <li><a href="{{path('adminview')}}">Votre annonce</a></li>
                                {% endif %}
                                {% if app.user.planning != null %}
                                <li><a href="{{path('planning', {id: app.user.planning.id})}}">Votre planning</a></li>
                                {% endif %}
                                <li><a href="{{path('fos_user_profile_show')}}">Profil</a></li>
                                <li><a href="{{path('fos_user_security_logout')}}">Log out</a></li>
                            </ul>    
                        </li>
                        {%else%}
                        <li>
                            <a href="{{path('fos_user_security_login')}}" class="navbar-brand navbar-right">
                                <span class="glyphicon glyphicon-log-in"></span> S'identifier
                            </a>
                        </li>
                    {%endif%}
                        </ul>
                    </div>  
                </div>
            <!-- container -->
        </nav>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="fos_user">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
             </div>
        <footer class="footer">
            
        </footer>
        </div>
        <!-- SCRIPT -->
         <script src="{{asset('/lib/js/jquery-3.2.1.min.js')}} "></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
