
{% extends "layout.html.twig" %}

{% block title %}
  Supprimer une annonce - {{ parent() }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row well">
      <h2>Supprimer une annonce</h2>
      <p>
        Etes-vous certain de vouloir supprimer l'annonce "{{ advert.user.username }}" ?
      </p>
      <form action="{{ path('deleteadvert', {'id': advert.id}) }}" method="post">
        <a href="{{ path('adminview') }}" class="btn btn-default">
          <i class="glyphicon glyphicon-chevron-left"></i>
          Retour à l'annonce
        </a>
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        {{ form_rest(form) }}
      </form>
    </div>
</div>
{% endblock %}