{% extends "layout.html.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <h2>Poster votre annonce de Pédibus</h2>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 well">
                {% if is_granted("IS_AUTHENTICATED_FULLY") and app.user.hasAdvert == 1 %}
                <p>Vous avez déjà poster une annonce </p>
                {% elseif is_granted("IS_AUTHENTICATED_FULLY") and app.user.hasAdvert == 0 %}
                {{form_start(form)}}
                {{form_widget(form)}}
                {{form_end(form)}}
                {% else %}
                <p> Vous devez vous connecter ou vous inscrire pour poster une annonce </p>
                <a href="{{path('fos_user_security_login')}}" class=" btn btn-default">Connexion</a></button>
                <a href="{{path('fos_user_registration_register')}}" class="btn btn-default ">Inscription</a>
                {% endif %}
                <button type="button" class="btn btn-info"><a href="{{path('listadvert')}}" class="view">Voir les annonces</a></button>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}
