{% trans_default_domain 'FOSUserBundle' %}
<div cladd="row"></div>
<div class="row well">
    <div class="col-md-3">
            {% if user.avatarName == null %}
            <img src="{{asset('/lib/img/generic-user.png')}}" alt='generic user' class="avatar">
            {% else %}
             <img src="{{ vich_uploader_asset(user, 'avatarFile') }}" alt="{{ user.name }}" class="img-thumbnail"  class="avatar"/>
            {% endif %}
    </div>
    <div class="col-md-6">
            <p><b>{{ 'profile.show.username'|trans }}</b>: {{ user.username }}</p>
            <p> <b>E-mail</b> : {{user.email}} </p>
            <p> <b>Téléphone</b> : {{user.phone}}</p>
        <p> <b>Addresse</b> : {{user.address}}, {{user.city}}, {{user.postcode}}</p>
        </br>
    <button type="button" class="btn btn-secondary"><a href="{{path('fos_user_profile_edit')}}" class="view">Editer votre profil</a></button>
    <button type="button" class="btn btn-danger"><a href="{{path('fos_user_change_password')}}" class="view">Changer votre mot de passe</a></button>
    </div>
</div>


