{% extends "layout.html.twig" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Annonce posté par {{advert.user.name}} {{advert.user.lastname}} </h2>
            <h3>Le {{ advert.date|date('d/m/Y') }}</h3>
            <div class="well">
                <h4>Information : </h4>
                <p> Adresse : {{ advert.user.address }}</p>
                <p> Nombre d'enfants : {{ advert.nbchild }}</p>
                <p> Contact : {{ advert.user.email }} / {{ advert.user.phone }}</p>
                <h4> Description : </h4>
                <p> {{advert.content}} </p>
                <p>{{advert.file}}</p>
                {% if app.user.planningday == null %}
                <button type="button" class="btn btn-primary"><a href="{{path('planningsub', {id:advert.planning.id})}}">Inscription Planning</a></button>
                {% else %}
                <button type="button" class="btn btn-info"><a href="{{path('planning', {id:app.user.planning.id})}}">Voir votre planning</a></button>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}